.navbar{
    display: flex;
    width: 99vw;
    justify-content: space-between;
}
li{
    display: inline;
}

.left{
    border: 2px solid red;
}

ul{
    margin: 0;
}

.info{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#para{
    width: 40vw;
    margin-top: 20vh;
    font-size: 20px;
}
.btn-form{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

background_img{
    background-image: url("png.png");
    opacity: 0.5;
}